.form-container {
    max-width: 1800px;
}

.rotulo_filtro {
    margin: 5px 10px;
    
}

.nombre_completo {
    width: 60%;
    margin: 2px 2px;
}

.mensajes {
    color: red;
}

.paciente_recuadro {
<<<<<<< HEAD
    border-radius: .375rem;
}
=======
    color: yellow;
    border-radius: 25rem;
}
>>>>>>> 8854de63452bc1930ab73419b3c7b8b8ebbfcfb7
