{% extends 'AppPoliconsultorio/base.html' %}
{% load static %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static '/css/alta_paciente.css' %}">
{% endblock %}

{% block titulo %} Alta de un Médico {% endblock %}

{% block contenido %}
<div class="container">
	<div class="form-container justifica-arriba">
		<div class="form-row justify-content-center">
			<h2><u>Alta de un Paciente</u></h2>
		</div>
		<!--<form>-->
		<form action="{% url 'alta_paciente' %}" method="post">
			{% csrf_token %}
            {{form.as_p}}
			
			<!-- Mensajes -->
			<div class="mensajes">
				{% if errores %}
					{{errores}}
				{% endif %}
			</div>
			<div class="messages form-row justify-content-center" style="color: red;">
				{% filter upper %}
					<p><b> {{ ValidationError }} </b></p>
				{% endfilter %}
			</div>
			<div class="form-row justify-content-center">
				<button type="submit" class="btn btn-primary">Incorporar</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
