{% extends 'AppPoliconsultorio/base.html' %}
{% load static %}

{% block titulo %} Bienvenido a Policonsultorio{% endblock %}
{% block contenido %}

    <!-- Bloque comentado -->
    <!--<section>
        <h3>Listado de Turnos asignados</h3>
        {% for turno in listado_turnos %}
            <article>
                 <li style="color: {% cycle 'red' 'green' %} ">
                    <p>Día: {{turno.dia}} </p>
                    <p>Hora: {{turno.hora}}</p>
                    <p>Médico: {{turno.medico}}</p>
                    <p>Especialidad: {{turno.especialidad}}</p>
                    <p>Paciente: {{turno.paciente}}</p>
                 </li>
            </article>
        {% endfor %}
    </section>-->

    <!-- Secciones -->
    <section class="seccion1">
        <div class="container">
            <h2>Sección 1</h2>
            <p>Descripción de la sección 1.</p>
        </div>
    </section>

    <section class="seccion2">
        <div class="container">
            <h2>Sección 2</h2>
            <p>Descripción de la sección 2.</p>
        </div>
    </section>

    <section class="seccion3">
        <div class="container">
            <h2>Sección 3</h2>
            <p>Descripción de la sección 3.</p>
        </div>
    </section>
{% endblock %}
