<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Policonsultorios</title>
</head>
<body>
    <header>
        <h1>Policonsultorios</h1>
    </header>   
    <main>
        <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'turno_medico' %}">Turnos</a></li>
                    <li><a href="{% url 'especialidades' %}">Especialidades</a></li>
                    <li><a href="{% url 'usuarios' %}">Usuarios</a></li> 
                    <li><a href="{% url 'acerca' %}">A cerca de</a></li>
                    <li><a href="{% url 'contactenos' %}">Contáctenos</a></li>
                </ul>
            </nav>


    </main>
    <footer>
        <p>
            Tp 2023 - Comisión 7 - Todos los derechos reservados
        </p>
    </footer>
    
</body>
</html>