{% extends 'AppPoliconsultorio/base.html' %}
{% load static %}

 <!-- Estilos CSS personalizados-->
 <!-- {% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
{% endblock %} -->

{% block titulo %} Bienvenido a Policonsultorio{% endblock %}
{% block contenido %}

    <!-- Bloque comentado -->
    <!--<section>
        <h3>Listado de Turnos asignados</h3>
        {% for turno in listado_turnos %}
            <article>
                 <li style="color: {% cycle 'red' 'green' %} ">
                    <p>Día: {{turno.dia}} </p>
                    <p>Hora: {{turno.hora}}</p>
                    <p>Médico: {{turno.medico}}</p>
                    <p>Especialidad: {{turno.especialidad}}</p>
                    <p>Paciente: {{turno.paciente}}</p>
                 </li>
            </article>
        {% endfor %}
    </section>-->

    <!-- Secciones -->
<!-- <div class="justifica-arriba">
    <section class="seccion1">
        <div class="container">
            <h2>Sección 1</h2>
            <p>Descripción de la sección 1.</p>
        </div>
    </section>

    <section class="seccion2">
        <div class="container">
            <h2>Sección 2</h2>
            <p>Descripción de la sección 2.</p>
        </div>
    </section>

    <section class="seccion3">
        <div class="container">
            <h2>Sección 3</h2>
            <p>Descripción de la sección 3.</p>
        </div>
    </section>
</div>-->

  <!-- ======= Hero Section ======= -->
  <div class=" image-35negative-marging-top">
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1>La mejor experiencia digital en turnos médicos</h1>
            <h2>Tenemos a los mejores especialistas del mercado a un click de distancia.</h2>
            <div>
              <a href="#about" class="btn-get-started scrollto">Comenzar</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <!--<img src="assets/img/hero-img.svg" class="img-fluid animated" alt="">-->
            <img src="{% static '/img/enfermera-jeringa-dibujado-mano-2.png' %}" class="img-fluid animated" alt="">
            <!--<img src="{% static '/img/doctora-ilustracion.avif' %}" class="img-fluid animated" alt="">-->
          </div>
        </div>
      </div>
    </section><!-- End Hero -->
    </div>
  
    <main id="main">
  
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
  
          <div class="row justify-content-between">
            <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
              <!--<img src="assets/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">-->
              <img src="{% static '/img/medico-enfermera-equipo-profesional-f1.png' %}" class="img-fluid" alt="" data-aos="zoom-in">
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
              <h3 data-aos="fade-up">Prestaciones de atención médica del mejor nivel </h3>
              <p data-aos="fade-up" data-aos-delay="100">
                Nuestro plantel médico cuenta con los requisitos de idoneidad en su especialidad y la correspondiente habilitación para su ejercicio.<br>
                Nuestra administración establece el nexo con Coberturas Médicas y Obras Sociales a fin de brindar para sus afiliados el acceso a una atención médica calificada.
              </p>
              <div class="row">
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>Diagnóstico y Seguimiento</h4>
                  <p>La historia clínica informatizada y centralizada facilita la atención integral e interdisciplinaria de las diversas especialidades.</p>
                </div>
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Demanda Espontánea Virtual</h4>
                  <p>Para acceder a este servicio solo precisa disponer de una línea telefónica (fija o celular) para que el médico pueda contactarla/o.</p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
  
      <!-- ======= Services Section ======= -->
      <section id="servicios" class="services section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Servicios</h2>
            <p>Conozca los excelentes servicios que ofrecemos</p>
          </div>
  
          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href="">Sintomatología</a></h4>
                <p class="description">Nuestros especialistas proporcionan una evaluación precisa de tus síntomas.<br></p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">Documentación</a></h4>
                <p class="description">Solicitar estudios y recetas (según criterio médico).</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="">Comodidad</a></h4>
                <p class="description">Realizar consultas de manera rápida y sencilla sin necesidad de concurrir personalmente.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">Atención</a></h4>
                <p class="description">Disponibilidad las 24 horas del día y los 365 días del año.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
      <!-- End Services Section -->
  
      <!-- ======= F.A.Q Section ======= -->
      <section id="faq" class="faq">
          <div class="container" data-aos="fade-up">
      
              <div class="section-title">
              <h2>F.A.Q</h2>
              <p>Preguntas Frecuentes</p>
              </div>
      
              <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">
      
              <li>
                  <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">¿Hay un tiempo máximo de atención virual? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                      Las consultas médicas se encuentran establecidas con un tiempo máximo de 30 minutos. En este lapso el médico por lo general evalúa todas las condiciones necesarias para brindar un diagnóstico. De ser necesario tu médico puede brindarte un nuevo turno.
                  </p>
                  </div>
              </li>
      
              <li>
                  <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">¿Las recetas y órdenes médicas son elctrónicas? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                      Si, las recetas y órdenes digitales se encuentran avaladas por la ley de medicina vigente conforme a la Ley 27.552 y al decreto 3622/22.
                  </p>
                  </div>
              </li>
      
              <li>
                  <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">¿Existen distintas modalidades en la atención por obras sociales? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    La condición para la realización de cada prestación (consulta y/o práctica) dependerá de la normativa vigente de contratación según su cobertura y plan.
                    En algunos casos pueden requerir autorización, coseguro adicional o estar excluidas.
                  </p>
                  </div>
              </li>
      
              <li>
                  <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">¿Puedo solicitar una constancia de atención? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Si la requerís, te la enviarán por mail junto con las recomendaciones médicas.
                  </p>
                  </div>
              </li>
      
              <li>
                  <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">¿Existen contraindicaciones en el uso del servicio? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    El usuario no debe utilizar la aplicación cuando se sospecha de un peligro repentino para la salud. En tal situación, el usuario debe actuar de inmediato para obtener, lo antes posible, asistencia médica y el inicio de las acciones de rescate y tratamiento, por ejemplo: llamar a los servicios de emergencia o acudir a urgencias de un hospital.
                  </p>
                  </div>
              </li>
      
              </ul>
      
          </div>
          </section><!-- End F.A.Q Section -->
          
{% endblock %}
