<!-- Barra de navegación -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <!-- <h1 class="text-light"><a href="http://127.0.0.1:8000/AppPoliconsultorio/"><span>Policonsultorio</span></a></h1> -->
        <h1 class="text-light"><a href="{% url 'index' %}"><span>Policonsultorio</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
		<!-- .navbar -->
      <nav id="navbar" class="navbar">
        <ul>
          <!-- <li><a class="nav-link scrollto active" href="http://127.0.0.1:8000/AppPoliconsultorio/">Home</a></li>
          <li><a class="nav-link scrollto" href="http://127.0.0.1:8000/AppPoliconsultorio/acerca/">Acerca de</a></li>
          <li><a class="nav-link scrollto" href="http://127.0.0.1:8000/AppPoliconsultorio/#servicios">Servicios</a></li> -->
          <li><a class="nav-link scrollto active" href="{% url 'index' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'acerca' %}">Acerca de</a></li>
          <li><a class="nav-link scrollto" href="#servicios">Servicios</a></li>
          <li class="dropdown"><a href="#"><span>Especialidades</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <!-- <li><a href="http://127.0.0.1:8000/AppPoliconsultorio/especialidades/">Cardiología</a></li> -->
              <li><a href="{% url 'especialidades' %}">Cardiología</a></li>
              <li class="dropdown"><a href="#"><span>Dermatología</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'especialidades' %}">Estética</a></li>
                  <li><a href="{% url 'especialidades' %}">Pediátrica</a></li>
                </ul>
              </li>
              <li><a href="{% url 'especialidades' %}">Neurología</a></li>
              <li><a href="{% url 'especialidades' %}">Oftalmología</a></li>
              <li><a href="{% url 'especialidades' %}">Pediatría</a></li>
              <li><a href="{% url 'listar_especialidad' %}">Listado de especialidades</a></li>
              <li><a href="{% url 'listar_pacientes' %}">Listado de Pacientes</a></li>
            </ul>
          </li>
		  <li class="dropdown"><a href="#"><span>Turnos</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <!-- <li><a href="http://127.0.0.1:8000/AppPoliconsultorio/turno_medico/">Alta de Turno</a></li> -->
              <li><a href="{% url 'turno_medico' %}">Alta de Turno</a></li>
              <li><a href="{% url 'turno_consulta' %}">Consulta de Turnos</a></li>
              <!-- <li><a href="http://127.0.0.1:8000/AppPoliconsultorio/contacto/">Baja de turno</a></li> -->
              <li><a href="{% url 'baja_turno' %}">Baja de turnos</a></li>
              <li><a href="{% url 'listar_turnos' %}">Listado de turnos</a></li>
            </ul>
          </li>
          <li><a class="getstarted scrollto" href="#about">Login / Sign In</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

