<!-- Barra de navegación -->
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
        <h5 class="mb-0"><a href="http://127.0.0.1:8000/AppPoliconsultorio/">Policonsultorio de la Obra Social</a></h5>
        <div class="d-flex flex-column flex-wrap" id="navbarCollapse">
            <span class="navbar-text ml-auto py-0 px-lg-2">TEL: (00) 1234 5678</span>
            <ul class="navbar-nav mb-auto mt-0 ml-auto">
                <li class="nav-item dropdown dmenu">
                    <a class="nav-link py-0 dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Turnos
                    </a>
                    <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" href="http://127.0.0.1:8000/AppPoliconsultorio/turno_medico/">Alta de Turno</a>
                    <a class="dropdown-item" href="#">Consulta de Turno</a>
                    <a class="dropdown-item" href="#">Eliminar Turno</a>
                    </div>
                </li>
                <li class="nav-item dropdown dmenu">
                    <a class="nav-link py-0 dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Especialidades
                    </a>
                    <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" href="http://127.0.0.1:8000/AppPoliconsultorio/especialidades/">Cardiología</a>
                    <a class="dropdown-item" href="http://127.0.0.1:8000/AppPoliconsultorio/especialidades/">Dermatología</a>
                    <a class="dropdown-item" href="http://127.0.0.1:8000/AppPoliconsultorio/especialidades/">Neurología</a>
                    <a class="dropdown-item" href="http://127.0.0.1:8000/AppPoliconsultorio/especialidades/">Oftalmología</a>
                    <a class="dropdown-item" href="http://127.0.0.1:8000/AppPoliconsultorio/especialidades/">Pediatría</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-0" href="http://127.0.0.1:8000/AppPoliconsultorio/acerca/">Acerca de</a>
                </li>
                <li class="nav-item dropdown dmenu">
                    <a class="nav-link py-0 dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Usuario Pirulo
                    </a>
                    <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" href="#">Salir</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
