{% extends 'AppPoliconsultorio/base.html' %}
{% load static %}

{% block titulo %} Consulta de Turnos {% endblock %}
 <!-- Estilos CSS personalizados-->
{% block extra_css %}
 <link rel="stylesheet" href="{% static '/css/turno.css' %}">
{% endblock %}

{% block contenido %}
<div class="container">
	<div class="form-container justifica-arriba">
		<div class="form-row justify-content-center">
			<h2><u>Consulta de Turnos</u></h2>
		</div>
		<!--<form>-->
		<form action="{% url 'turno_consulta' %}" method="post">
			{% csrf_token %}
			<!-- <div class="form-row">
				<div class="form-group col-md-6">
					<label class='rotulo_filtro' for="paciente">DNI Paciente:</label>
					{{ turno_consulta_form.paciente }}
				</div> -->
			<div class="form-row">
				<div class="mt-lg-0 d-flex align-items-stretch">
					<!-- <div class="form-group col-md-6"> -->
						<label class='rotulo_filtro' for="paciente">Paciente: <b>{{ paciente }}</b></label>
						{{ turno_consulta_form.paciente }}
					<!-- </div> -->
				</div>
			</div>
			<div class="form-row">
				<div class="col-lg-11 mt-5 mt-lg-0 d-flex">
					<label class='rotulo_filtro' for="especialidad">Especialidad:</label>
					{{ turno_consulta_form.especialidad }}
					<label class='rotulo_filtro' for="medico">Médico:</label>
					{{ turno_consulta_form.medico }}
				</div>
			</div>
			<div class="form-row">
				<div class="col-lg-11 mt-5 mt-lg-0 d-flex">
					<label class='rotulo_filtro' for="fechaDesde"> Fecha Desde:</label>
					{{ turno_consulta_form.fechaDesde }}
					<label class='rotulo_filtro' for="fechaHasta"> Fecha Hasta:</label>
					{{ turno_consulta_form.fechaHasta }}
				</div>
			</div>

			<!-- Mensajes -->
			<div class="mensajes">
				{% if messages %}
					<ul class="messages_list">
						{% for message in messages %}
							<li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			<div class="form-row justify-content-center">
				<button type="submit" class="btn btn-primary">Consultar</button>
			</div>
			<div class="form-row justify-content-center">
				<div class="form-group col-md-12">
					<table class="table table-bordered">
						<thead class="table-header">
							<tr>
								<th scope="col">Día</th>
								<th scope="col">Hora</th>
								<th scope="col">Médico</th>
								<th scope="col">Especialidad</th>
								<th scope="col">Paciente</th>
							</tr>
						</thead>

						<tbody>
							{% for turno in listado_turnos %}
							<tr style='background-color: {% cycle '#f3c5aa' '#f1d5c5' %}'>
								<th>{{ turno.dia }}</th>
								<td>{{ turno.hora }}</td>
								<td>{{ turno.medico }}</td>
								<td>{{ turno.especialidad }}</td>
								<td>{{ turno.paciente }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
            </div>
		</form>
	</div>
</div>


{% endblock %}
