{% extends 'AppPoliconsultorio/base.html' %}
{% load static %}

{% block titulo %} Ingreso de turno médico {% endblock %}
{% block contenido %}
<div class="container">
	<div class="form-container justifica-arriba">
		<div class="form-row justify-content-center">
			<h2><u>Ingrese los datos del turno médico</u></h2>
		</div>
		<div class="messages form-row justify-content-center" style="color: red;">
			{% filter upper %}
				<p><b> {{ error_paciente }} </b></p>
			{% endfilter %}
		</div>
		<div class="messages form-row justify-content-center">
			{% if messages %}
				<ul class="messages_list">
					{% for message in messages %}
						{% filter upper %}
						<li style="color: red;" {% if message.tags %} class="{{ message.tags }}" {% endif %}>
							<b> {{ message }} </b>
						</li>
						{% endfilter %}
					{% endfor %}
				</ul>
			{% endif %}
		</div>
		<!--<form>-->
		<form action="{% url "turno_medico" %}" method="post">
			{% csrf_token %}
			<div class="form-row">
				<div class="col-lg-11 mt-5 mt-lg-0 d-flex align-items-stretch">
					<div class="form-group col-md-6">
						<label for="paciente">Paciente: <b>{{ paciente }}</b></label>
						<!--<input type="text" class="form-control" id="paciente">-->
						{{ alta_turno_form.paciente }}
					</div>
					<div class="form-group col-md-6 mt-3">
						<button type="submit" class="btn btn-primary">Buscar paciente</button>
					</div>
				</div>
			</div>
			<br>
			<div class="form-row">
				<div class="col-lg-11 mt-5 mt-lg-0 d-flex align-items-stretch">
					<div class="form-group col-md-6">
						<label for="especialidad">Especialidad:</label>
						<!--<select class="form-control" id="especialidad">
							<option value="">Seleccione una especialidad</option>
							{% for especialidad in listado_especialidad %}
								<option value="{{especialidad}}">{{especialidad}}</option>
							{% endfor %}
						</select>-->
						{{ alta_turno_form.especialidad}}
					</div>
					<div class="form-group col-md-6 mt-3 mt-md-0">
						<label for="medico">Médico:</label>
						<!-- <select class="form-control" id="medico">
						<option value="">Seleccione un médico</option>
							{% for medico in listado_medicos %}
								<option value="{{medico.ID}}">{{medico.nombre}}</option>
							{% endfor %}							
						</select> -->
						{{ alta_turno_form.medico}}
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="col-lg-3 mt-5 mt-lg-0 align-items-stretch">
					<label for="fecha">Fecha:</label>
					<!-- <input type="date" class="form-control" id="fecha"> -->
					{{ alta_turno_form.fecha }}
				</div>
				<div class="form-group col-md-6 mt-3">
					<button type="submit" class="btn btn-primary">Buscar turnos</button>
				</div>
			</div>
			<div class="form-row justify-content-center">
				<div class="form-group col-md-12">
					<table class="table table-bordered">
						<thead class="table-header">
						<tr>
							<th scope="col"></th>
							<th scope="col">Horario</th>
							<th scope="col">Disponibilidad</th>
						</tr>
						</thead>
						<tbody>
							{% for disp_medico in listado_disp_medicos %}
								<tr>
									<th scope="row"><input type="radio" name="horario" value="{{disp_medico.ID}}" {{disp_medico.flag}}></th>
									<td>{{disp_medico.horario}}</td>
									<td>{{disp_medico.descr_disponible}}</td>
								</tr>
							{% endfor %} 
							<!--{% for turno_disp in alta_turno_form3.seleccion_turno %}
								<tr><td>{{ turno_disp }}</td><td>Prueba</td><td>{{ alta_turno_form3.seleccion_turno.label.0.1 }}</td></tr>
							{% endfor %}-->
						</tbody>
					</table>
				</div>
			</div>
			<div class="form-row justify-content-center">
				<button type="submit" class="btn btn-primary">Guardar turno</button>
			</div>
		</form>
	</div>
</div>


{% endblock %}
